<div class="post-card">
  <div class="post-header">
    <img class="avatar" [src]="post.profileImage" alt="User Image" />
    <div class="user-details">
      <h4>{{ post.username }}</h4>
      <p class="post-time">{{ post.time }}</p>
    </div>
  </div>

  <div class="post-content">
    <p>{{ post.content }}</p>
    <img *ngIf="post.postImage" [src]="post.postImage" alt="Post Image" class="post-img" />
  </div>

  <div class="post-actions">
    <button (click)="isliked()" [class.liked]="liked">
      {{ liked ? '❤️ Liked' : '🤍 Like' }}
    </button>

    <span class="icon" (click)="toggleCommentInput()">💬 Comment</span>
  </div>

  <div *ngIf="showCommentInput" class="comment-box">
    <input [(ngModel)]="newComment" placeholder="Write a comment..." />
    <button (click)="addComment()">Post</button>
  </div>

  <ul>
    <li *ngFor="let comment of comments; let i = index">
      {{ comment }}
      <button (click)="deleteComment(i)">❌</button>
    </li>
  </ul>
</div>
